---
// Este componente utiliza las fuentes y colores definidos en tu configuración de TailwindCSS.
---

<section class="bg-arena py-20" id="codigo">
  <div class="container mx-auto px-8 md:px-12 text-center">
    <h2
      class="text-3xl lg:text-4xl font-semibold text-verde-oscuro text-center mb-12 lg:mb-6"
    >
      Código de vestimenta
    </h2>
    <p class="text-lg text-verde-oscuro mb-8">
      El código de vestimenta será elegante y formal. No será necesario que los
      hombres lleven chaqué, y las mujeres pueden optar por vestido largo o
      corto, siempre que se mantenga un estilo elegante. Eso sí, agradeceríamos
      que evitasen el color blanco.
    </p>
    <div
      class="rounded-lg p-6 shadow-lg shadow-verde-suave border-verde-suave bg-white border-2"
    >
      <h3 class="uppercase font-bold mb-4 text-verde-medio">Clima gallego</h3>
      <p class="text-lg text-verde-oscuro">
        Recordad que estamos en Galicia, puede hacer un día soleado, pero
        también es posible que llueva. Tened esto en cuenta al elegir vuestro
        vestuario.
      </p>
    </div>
  </div>
</section>
