---
import FaqReact from './FaqReact';
---

<div class="bg-arena py-20" id="faq">
  <div class="container mx-auto lg:w-2/3">
    <h2
      class="text-3xl lg:text-4xl font-semibold text-verde-oscuro text-center mb-12 lg:mb-6"
    >
      Preguntas frecuentes (FAQ)
    </h2>
    <div class="max-w-sm md:max-w-full mx-auto px-6">
      <FaqReact client:load />
    </div>
  </div>
</div>
