---
import Menu from './Menu.jsx';
---

<header class="px-6 py-4 bg-arena shadow-md sticky top-0 left-0 w-full z-50">
  <div class="flex justify-between items-center container mx-auto">
    <div class="flex justify-between items-center container mx-auto">
      <!-- Logo -->
      <div class="text-3xl text-verde-oscuro font-windsong">
        <a href="#">AyB</a>
      </div>

      <!-- Menú en escritorio -->
      <nav
        class="hidden lg:flex space-x-4 xl:space-x-6 font-extralight text-verde-oscuro"
      >
        <a href="#ubicacion" class="hover:text-verde-medio">Ubicación</a>
        <a href="#alojamientos" class="hover:text-verde-medio">Alojamientos</a>
        <a href="#codigo" class="hover:text-verde-medio">Código vestimenta</a>
        <a href="#musica" class="hover:text-verde-medio">Sugerencia musical</a>
        <a href="#fotos" class="hover:text-verde-medio">Fotos</a>
        <a href="#confirmar" class="hover:text-verde-medio"
          >Confirmar asistencia</a
        >
        <a href="#regalo-boda" class="hover:text-verde-medio">Regalo opcional</a
        >
        <a href="#faq" class="hover:text-verde-medio">FAQ</a>
      </nav>
    </div>

    <!-- Componente de React para el menú móvil -->
    <Menu client:load />
  </div>
</header>

<!--AKfycbz1LQzLTibhAR43c_f9fyaAkfj493kMTszuGY454ZPaSNzwlPOEaT-B9iioqn87hwxJ
https://script.google.com/macros/s/AKfycbz1LQzLTibhAR43c_f9fyaAkfj493kMTszuGY454ZPaSNzwlPOEaT-B9iioqn87hwxJ/exec -->
