---
import Menu from './Menu.jsx';
---

<header class="px-6 py-4 bg-arena shadow-md">
  <div class="flex justify-between items-center container mx-auto">
    <div class="flex justify-between items-center container mx-auto">
      <!-- Logo -->
      <div class="text-3xl text-verde-oscuro font-windsong">AyB</div>

      <!-- Menú en escritorio -->
      <nav class="hidden md:flex space-x-6 font-extralight text-verde-oscuro">
        <a href="#nosotros" class="hover:text-verde-medio">Nosotros</a>
        <a href="#evento" class="hover:text-verde-medio">El Evento</a>
        <a href="#confirmar" class="hover:text-verde-medio"
          >Confirmar Asistencia</a
        >
      </nav>
    </div>

    <!-- Componente de React para el menú móvil -->
    <Menu client:load />
  </div>
</header>
