---
import Countdown from './Countdown.jsx';
---

<section class="relative h-[80vh] max-w-full">
  <img
    src="/images/adriybruna.webp"
    alt="Isosceles Global Constructora"
    class="w-full h-full object-center object-cover"
  />
  <div class="absolute inset-0 bg-verde-oscuro/50 h-full"></div>
  <div
    class="absolute inset-0 z-30 w-fit text-white text-center mt-16 mb-auto mx-auto p-6 flex flex-col justify-evenly h-full"
  >
    <h1 class="text-4xl lg:text-6xl font-windsong mb-4">¡Nos casamos!</h1>
    <div>
      <Countdown client:load />
      <p class="text-xl font-thin mt-6">
        30 de Mayo de 2025<span>&nbsp; | &nbsp;</span>Baiona, Pontevedra
      </p>
    </div>
  </div>
</section>
