---
import Hotel from './Hotel.astro';

// Este componente utiliza las fuentes y colores definidos en tu configuración de TailwindCSS.
---

<section class="container mx-auto py-20" id="alojamientos">
  <div class="mx-auto md:px-12 text-center">
    <h2
      class="text-3xl lg:text-4xl font-semibold text-verde-oscuro text-center mb-12 lg:mb-6"
    >
      Alojamientos
    </h2>
    <div class="mb-8">
      <p class="text-lg text-verde-oscuro mb-4">
        El evento se celebra en el <strong>Parador de Baiona</strong>, un hotel
        espectacular que os ofrecerá un precio cerrado si al gestionar la
        reserva informáis de ser invitados de nuestra boda.
      </p>
      <p class="text-lg text-verde-oscuro font-bold">
        *Por favor, tened en cuenta que el lunes siguiente a la boda, comienza
        una regata importante en Baiona, lo que hará complicado encontrar
        alojamiento ese fin de semana. Os recomendamos hacer vuestra reserva lo
        antes posible, tanto si os alojáis en el Parador como si elegís otro
        lugar.
      </p>
    </div>
    <div class="grid gap-8 xl:grid-cols-3 px-8 md:px-0">
      <Hotel
        imageURL="/images/baiona.jpeg"
        title="Baiona"
        text="Es la zona donde se realiza el evento, por lo que será la mejor opción."
        bookingURL="https://www.booking.com/searchresults.es.html?ss=Baiona%2C+Galicia%2C+España&label=gen173nr-1BCAEoggI46AdIM1gEaEaIAQGYAQq4AQfIAQ3YAQHoAQGIAgGoAgO4At2gorsGwAIB0gIkYWNhZTM1ZGUtOGY5ZS00MWFhLWIwMGUtZGUxYzk2YzQ3MjIw2AIF4AIB&sid=540c736d04c6b5850b8a9f4a825ff8bb&aid=304142&lang=es&sb=1&src_elem=sb&src=index&dest_id=-372905&dest_type=city&ac_position=1&ac_click_type=b&ac_langcode=es&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=d2b99cee2ca303a6&ac_meta=GhBkMmI5OWNlZTJjYTMwM2E2IAEoATICZXM6BmJhaW9uYUAASgBQAA%3D%3D&checkin=2025-05-30&checkout=2025-05-31&group_adults=1&no_rooms=1&group_children=0"
        airbnbURL="https://www.airbnb.es/s/Bayona--España/homes?refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2025-01-01&monthly_length=3&monthly_end_date=2025-04-01&price_filter_input_type=0&channel=EXPLORE&query=Bayona%2C%20España&place_id=ChIJjXRT9ETzJQ0RbY6wYmUF7nI&location_bb=QiiDYcENXR5CKHHbwQ3JAQ%3D%3D&date_picker_type=calendar&checkin=2025-05-30&checkout=2025-05-31&adults=1&source=structured_search_input_header&search_type=autocomplete_click"
      />

      <Hotel
        imageURL="/images/nigran.jpeg"
        title="Nigrán"
        text="Una bonita zona de playa, cerca de Baiona y con buenas opciones."
        bookingURL="https://www.booking.com/searchresults.es.html?ss=Nigrán%2C+Galicia%2C+España&ssne=Baiona&ssne_untouched=Baiona&label=gen173nr-1BCAEoggI46AdIM1gEaEaIAQGYAQq4AQfIAQ3YAQHoAQGIAgGoAgO4At2gorsGwAIB0gIkYWNhZTM1ZGUtOGY5ZS00MWFhLWIwMGUtZGUxYzk2YzQ3MjIw2AIF4AIB&sid=540c736d04c6b5850b8a9f4a825ff8bb&aid=304142&lang=es&sb=1&src_elem=sb&src=searchresults&dest_id=-394030&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=es&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=483d9cf299cb05ac&ac_meta=GhA0ODNkOWNmMjk5Y2IwNWFjIAAoATICZXM6Bk5pZ3JhbkAASgBQAA%3D%3D&checkin=2025-05-30&checkout=2025-05-31&group_adults=1&no_rooms=1&group_children=0"
        airbnbURL="https://www.airbnb.es/s/Nigrán--España/homes?refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2025-01-01&monthly_length=3&monthly_end_date=2025-04-01&price_filter_input_type=0&channel=EXPLORE&query=Nigrán%2C%20España&date_picker_type=calendar&checkin=2025-05-30&checkout=2025-05-31&adults=1&source=structured_search_input_header&search_type=autocomplete_click&price_filter_num_nights=1&place_id=ChIJHXurd4KLJQ0RbhD3ZyI7Ld8&location_bb=Qiirb8EMdS5CKIfLwQ2bZA%3D%3D"
      />

      <Hotel
        imageURL="/images/vigo.jpeg"
        title="Vigo"
        text="A unos 25-30 minutos de Baiona, la ciudad más completa de la zona."
        bookingURL="https://www.booking.com/searchresults.es.html?ss=Vigo%2C+Galicia%2C+España&ssne=Nigrán&ssne_untouched=Nigrán&label=gen173nr-1BCAEoggI46AdIM1gEaEaIAQGYAQq4AQfIAQ3YAQHoAQGIAgGoAgO4At2gorsGwAIB0gIkYWNhZTM1ZGUtOGY5ZS00MWFhLWIwMGUtZGUxYzk2YzQ3MjIw2AIF4AIB&sid=540c736d04c6b5850b8a9f4a825ff8bb&aid=304142&lang=es&sb=1&src_elem=sb&src=searchresults&dest_id=-407214&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=es&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=f4609d01937302ce&ac_meta=GhBmNDYwOWQwMTkzNzMwMmNlIAAoATICZXM6BFZpZ29AAEoAUAA%3D&checkin=2025-05-30&checkout=2025-05-31&group_adults=1&no_rooms=1&group_children=0"
        airbnbURL="https://www.airbnb.es/s/Vigo--España/homes?refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2025-01-01&monthly_length=3&monthly_end_date=2025-04-01&price_filter_input_type=0&channel=EXPLORE&date_picker_type=calendar&checkin=2025-05-30&checkout=2025-05-31&adults=1&source=structured_search_input_header&search_type=autocomplete_click&price_filter_num_nights=1&query=Vigo%2C%20España&place_id=ChIJk8GyYRRiLw0Rn9RLF60dRHs&location_bb=QikMc8EKwVZCKMKUwQx1Ww%3D%3D"
      />
    </div>
  </div>
</section>
