<section id="ubicacion" class="py-20 bg-arena px-6">
  <div class="container mx-auto">
    <!-- T칤tulo -->
    <h2
      class="text-3xl lg:text-4xl font-semibold text-verde-oscuro text-center mb-12 lg:mb-6"
    >
      쮻칩nde ser치 nuestro gran d칤a?
    </h2>
    <!-- Descripci칩n -->

    <!-- Mapa conceptual -->
    <div class="relative p-4 lg:p-8 w-full">
      <!-- Ruta entre los puntos -->
      <div
        class="relative h-auto flex flex-col lg:justify-between items-center w-full"
      >
        <!-- Punto A -->
        <div class="relative w-full text-verde-oscuro">
          <div
            class="relative w-full flex flex-col lg:flex-row justify-evenly items-center text-center bg-white border-2 border-verde-suave rounded-md shadow-lg py-10 lg:py-14 px-8 lg:px-12 divide-y lg:divide-y-0 lg:divide-x divide-verde-suave"
          >
            <div class="lg:w-1/2 py-10 lg:py-2">
              <p class="font-medium text-verde-oscuro text-4xl">
                Colegiata de Santa Mar칤a de Baiona
              </p>
              <p class="font-semibold text-verde-medio text-2xl">17:30</p>
            </div>
            <div class="lg:w-1/2 py-10 lg:py-2">
              <div class="lg:w-2/3 mx-auto">
                <div class="text-justify mb-6">
                  <p class="font-semibold">
                    La Colegiata de Santa Mar칤a de Baiona: Donde la historia se
                    mezcla con el amor.
                  </p>
                  <p>
                    Este rinc칩n g칩tico del siglo XIII, en pleno casco hist칩rico
                    de Baiona, es perfecto para decir "S칤, quiero". Con su
                    interior sencillo pero elegante, y muros que han visto
                    siglos de bodas felices, combina historia, encanto y vistas
                    al mar. Un lugar m치gico donde la solemnidad y el amor van de
                    la mano. Solo recuerda: 춰las campanas no esperan! 游땔
                  </p>
                </div>
                <div class="text-verde-medio inline">
                  <a
                    href="https://maps.app.goo.gl/h3NMABJhLgm2Rsjq5"
                    target="_blank">Ver ubicaci칩n Colegiata</a
                  >
                  <p class="text-verde-oscuro inline">&nbsp;/&nbsp;</p>
                  <a
                    href="https://maps.app.goo.gl/CQMvyWbbvFdZbP9U6"
                    target="_blank"
                  >
                    Ver ubicaci칩n parking cercano</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-16 h-16 bg-verde-oscuro text-white text-lg font-bold rounded-full flex items-center justify-center shadow-md absolute -top-4 -left-4"
          >
            A
          </div>
        </div>
        <!-- L칤nea de conexi칩n -->
        <div class="bg-verde-oscuro min-h-[10vh] h-[10vh] w-1 mt-4 mb-6"></div>
        <!-- Punto B -->
        <div class="relative w-full text-verde-oscuro">
          <div
            class="relative w-full flex flex-col lg:flex-row justify-evenly items-center text-center bg-white border-2 border-verde-suave rounded-md shadow-lg py-14 px-12 divide-y lg:divide-y-0 lg:divide-x divide-verde-suave"
          >
            <div class="lg:w-1/2 py-10 lg:py-2">
              <p class="font-medium text-verde-oscuro text-4xl">
                Parador de Baiona
              </p>
              <p class="font-semibold text-verde-medio text-2xl">18:30</p>
            </div>
            <div class="lg:w-1/2 py-10 lg:py-2">
              <div class="lg:w-2/3 mx-auto">
                <div class="text-justify mb-6">
                  <p class="font-semibold">
                    El Parador de Baiona: Un castillo para celebrar el amor
                  </p>
                  <p>
                    Rodeado por el mar y con vistas espectaculares, el Parador
                    de Baiona es un castillo de cuento ideal para tu gran d칤a.
                    Entre salones elegantes y jardines m치gicos, vivir치s una
                    celebraci칩n llena de historia, romanticismo y la esencia
                    칰nica de Galicia. 춰Un lugar digno de un brindis inolvidable!
                    <br /><span class="text-xs text-neutral-500"
                      >**Hay parking en el propio Parador.</span
                    >
                  </p>
                </div>
                <a
                  class="text-verde-medio"
                  href="https://maps.app.goo.gl/4dZKGsZPxfXGf3jb9"
                  target="_blank">Ver la ubicaci칩n</a
                >
              </div>
            </div>
          </div>
          <div
            class="w-16 h-16 bg-verde-oscuro text-white text-lg font-bold rounded-full flex items-center justify-center shadow-md absolute -top-4 -left-4"
          >
            B
          </div>
        </div>
      </div>
    </div>
    <!-- Bot칩n -->
    <div class="text-center mt-8 w-full">
      <a
        href="https://www.google.com/maps/dir/Colegiata+de+Santa+Mar칤a+de+Baiona,+Praza+Sta.+Liberata,+s%2Fn,+36300+Baiona,+Pontevedra/Parador+de+Baiona,+Avenida+Arquitecto+Jes칰s+Valverde,+Baiona,+Bayona/@42.1215358,-8.8561388,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0xd25f34465513b73:0x78ae36706e952cdc!2m2!1d-8.8507275!2d42.1180254!1m5!1m1!1s0xd25f34935b10d37:0xcb29f3358a09367d!2m2!1d-8.8501327!2d42.125442!3e0?entry=ttu&g_ep=EgoyMDI0MTIwMy4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="block mx-auto px-6 py-3 w-1/2 bg-verde-oscuro text-white font-semibold rounded-md hover:bg-verde-oscuro focus:outline-none focus:ring-2 focus:ring-verde-medio"
      >
        Ver ruta en Google Maps
      </a>
    </div>
  </div>
</section>
