---
import RoadmapSingle from './RoadmapSingle.astro';
---

<section id="ubicacion" class="py-20 bg-arena px-6">
  <div class="container mx-auto">
    <!-- Título -->
    <h2
      class="text-3xl lg:text-4xl font-semibold text-verde-oscuro text-center mb-12 lg:mb-6"
    >
      ¿Dónde será nuestro gran día?
    </h2>
    <!-- Descripción -->

    <!-- Mapa conceptual -->
    <div class="relative p-5 lg:p-8 w-full">
      <!-- Ruta entre los puntos -->
      <div
        class="relative h-auto flex flex-col lg:justify-between items-center w-full"
      >
        <!-- Punto A -->
        <RoadmapSingle
          item="A"
          title="Colegiata de Santa María de Baiona"
          time="17:30"
          image="/images/colegiata.webp"
          location="https://maps.app.goo.gl/h3NMABJhLgm2Rsjq5"
          secondLocation="true"
          lugar="Ceremonia"
        />

        <!-- Línea de conexión -->
        <div class="bg-verde-oscuro min-h-[10vh] h-[10vh] w-1 mt-4 mb-6"></div>

        <!-- Punto B -->
        <RoadmapSingle
          item="B"
          title="Parador de Baiona"
          time="18:30"
          image="/images/parador.webp"
          location="https://maps.app.goo.gl/4dZKGsZPxfXGf3jb9"
          parking="true"
          lugar="Banquete"
        />
      </div>
    </div>
    <!-- Botón -->
    <div class="px-5 text-center mt-8 w-full">
      <a
        href="https://www.google.com/maps/dir/Colegiata+de+Santa+María+de+Baiona,+Praza+Sta.+Liberata,+s%2Fn,+36300+Baiona,+Pontevedra/Parador+de+Baiona,+Avenida+Arquitecto+Jesús+Valverde,+Baiona,+Bayona/@42.1215358,-8.8561388,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0xd25f34465513b73:0x78ae36706e952cdc!2m2!1d-8.8507275!2d42.1180254!1m5!1m1!1s0xd25f34935b10d37:0xcb29f3358a09367d!2m2!1d-8.8501327!2d42.125442!3e0?entry=ttu&g_ep=EgoyMDI0MTIwMy4wIKXMDSoASAFQAw%3D%3D"
        target="_blank"
        class="block mx-auto px-6 py-3 w-full lg:w-1/2 bg-verde-oscuro text-white font-semibold rounded-md hover:bg-verde-oscuro focus:outline-none focus:ring-2 focus:ring-verde-medio"
      >
        Ver ruta en Google Maps
      </a>
    </div>
  </div>
</section>
