<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/apple-touch-icon-precomposed.png"
      sizes="180x180"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Bruna y Adrián | 30.05.25</title>
  </head>
  <body>
    <slot />
  </body>
</html>
